anaconda-client==1.11.3
anaconda-navigator==2.4.2
appdirs==1.4.4
atomicwrites==1.4.0
backports.weakref==1.0.post1
brotlipy==0.7.0
cfgv==3.3.1
clyent==1.2.2
conda-repo-cli==1.0.41
conda-verify==3.4.2
constantly==15.1.0
cssselect==1.1.0
daal4py==2023.1.1
datashape==0.5.4
distlib==0.3.7
et-xmlfile==1.1.0
filelock==3.12.2
fonttools==4.25.0
identify==2.5.26
inflection==0.5.1
jsonpointer==2.1
mkl-fft==1.3.6
mkl-service==2.4.0
mpmath==1.2.1
munkres==1.1.4
mypy-extensions==0.4.3
navigator-updater==0.4.0
nodeenv==1.8.0
openpyxl==3.0.10
pandas==1.5.3
patsy==0.5.3
pep8==1.7.1
Pillow==9.4.0
platformdirs==3.10.0
ply==3.11
pre-commit==3.3.3
pyarrow==11.0.0
pyasn1-modules==0.2.8
pycurl==7.45.2
PyDispatcher==2.0.5
pyls-spyder==0.4.0
PyQt5-sip==12.13.0
python-lsp-jsonrpc==1.0.0
queuelib==1.5.0
scikit-learn-intelex==20230426.111612
scipy==1.10.1
TBB==0.2
virtualenv==20.24.3
webencodings==0.5.1
