version: 2.1

setup: true


executors:
  docker-executor:
    docker:
      - image: cimg/python:3.8.4
    resource_class: small


orbs:
  dynamic-continuation: bjd2385/dynamic-continuation@3.8.1


workflows:
  on-commit:
    jobs:
      - dynamic-continuation/continue:
          context: orb-publishing
          default-branch: master
